body{
    color: white;
    background-color:  hsla(0, 0%, 100%, 0.75);
    Font-size: 15px;
    }

   #nav_item{
  text-decoration: none;
  color: black;
  font: 2rem sans-serif;
  font-weight: 800;
  margin-left: 44rem;
  }
  
  .all_box{
    display: flex;
    margin: 7rem 15rem;
    height: 30rem;
  }

  .header{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    font-weight: 500;
  }
  
  #box_1{
    background-color:  hsl(31, 77%, 52%);
    width: 40%;
    padding: 3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .message{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5rem; 
    word-spacing: 0.1rem;
  }
  
  #box_2{
    background-color: hsl(184, 100%, 22%);
    width: 40%;
    padding: 3rem;
    }

  
  #box_3{
    background-color:   hsl(179, 100%, 13%);
    width: 40%;
    padding: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .btn_1{
    background-color: hsl(31, 77%, 52%);
    color:  hsl(0, 0%, 95%);
    padding: 0.6rem 1.6rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
  }
  .btn_2{
    background-color: hsl(184, 100%, 22%);
    color:  hsl(0, 0%, 95%);
    padding: 0.6rem 1.6rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
  }

  .btn_3{
    background-color: hsl(179, 100%, 13%);
    color:  hsl(0, 0%, 95%);
    padding: 0.6rem 1.6rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
}

